// Light WinUI theme color scheme

$text: #191919;
$text-reverse: #ffffff;
$background-main: #f8f8f8;
$background-reverse: #1d1d1d;
$offwhite: #f2f2f2;
$border: #dadada;
$accent: #08b60b;
$accent-light: #043769;
$accent-dark: #043769;
$glow: white;
