button {
  display: inline-block;
  border-radius: $radius-sec;
  border-color: $accent-dark;
  border-style: solid;
  border-width: $border-width-slim;
  background-color: $accent;
  color: $text-reverse;
  padding: 1px 5px;
  font-size: 16px;
  margin: 4px 0;

  &:hover {
    background-color: $accent-light;
    border-color: lighten($accent-dark, 6);
  }

  &.no-border {
    border: none;
    padding: 3px 6px;
  }

  &.gray {
    background-color: gray;
    border-color: darken(gray, 7);
    &:hover {
      background-color: lighten(gray, 6);
    }
  }

  &.simple {
    background-color: gray;
    border: none;
    padding: 3px 6px;
    &:hover {
      background-color: lighten(gray, 6);
    }
  }

  &.big {
    padding: 5px;
  }

  &.disabled {
    opacity: 0.6;
    filter: saturate(40%);
  }
}
